## Mac OSX ##
.DS_Store

## NPM ##
node_modules
npm-debug.log

## Webpack files ##
client/public/dist
client/public/dist/bundle.js

## Cloudinary ##
cloudinary
uploads

algolia_keys.js

#Keys
client/Auth/Auth_keys.js
deploy_key
deploy_key.pem
deploy_key.pub
server/cloudinary_keys.js
secrets.tgz
travis_rsa.pub
deploy-key.pub
server/algolia_keys.js

#Data dump files
db/recipeDump.json
db/bbcRecipes.json
