body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

.component-title {
  font-weight: bold;
  text-align: center;
}

.nav-bar-title {
  vertical-align: middle;
  font-size: 1em;
  font-family: 'Lobster', cursive;
}

.nav-bar-logo {
  vertical-align: middle;
}

.user-profile {
  text-align: center;
}

.login-page:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  background: url('../assets/splash.jpg');
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  position: fixed;
  align-items: center;
}

.login-page {
  position: fixed;
  top: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.login-title {
  font-family: 'Lobster', cursive;
  color: #212121;
  font-size: 40px;
  font-weight: 300;
}

.login-text {
  color: #212121;
}

.user-profile {
  color: #212121;
}

.heart-icon {
  color: #d32f2f;
}

.table {
  width: 50%
}

.title {
  font-size: 30px;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  display: block;
  height: 200px;
}

.fullImage {
  width: 1280px;
  height: 800px;
  overflow: hidden;
}

.card-content {
  font-family: Roboto;
  color: black;
}

.profname {
  font-size: 30px;
}

.progress {
  color: red;
}

.landing {
  text-align: center;
  position: absolute;
  font-size: 15px;
}

.landing-title {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #e57373;
}

.loading-page {
  position: fixed;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  vertical-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
  position: absolute;
  margin: auto;
  padding: 100px 100px;
}

.calendar-date {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  background-color: #ef9a9a;
}

.calendar-today {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  background-color: #fbc727;
}

.calendar-past {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  background-color: lightgrey;
}

.recipe-mini-title {
  font-weight: bold;
  font-size: 1.3em;
}

.recipe-mini-img {
  display: block;
  width: 150px;
  height: 150px;
}

.text-center {
  text-align: center;
  margin: auto;
}

.feed-meter-icon {
  color: #ef5350;
}

.carousel-pic {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel {
  height: 200px;
}

.button {
  z-index: 1;
  margin : 0 auto;
  text-align: center;
}

.pagination {
  text-align: center;
}

.info {
  text-align: center;
}
